:root {
	--primary: #EA40A4;
	--business: #3A82EE;
	--light: #EEE;
	--grey: #888;
	--dark: #313154;
	--danger: #ff5b57;
	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	--glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Droid Sans Mono', monospace;
}

body {
	background: var(--light);
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}